*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --bg:#575445;
}
body{
    min-height: 500vh;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    color: var(--bg);
}
.logo span{
    font-size: 12px;
    font-weight: 600;
}
.collection{
    display: flex;
    align-items: center;
    list-style: none;
}
.item{
    margin-left: 28px;
}
.item button{
    padding: 10px 18px;
    background: var(--bg);
    color: #fff;
    border: none;
    border-radius: 6px;
}


.banner{
    width: 100%;
    height: 640px;
    background: url("./IMAGE\ \(5\).png") no-repeat center/cover;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: #fff;
}
.two_items{
    width: 90%;
    display: flex;
    margin: 100px auto;
    flex-wrap: wrap;
}
.two_image,
.two_text{
    width: 50%;
}
.two_image img{
    width: 80%;
}
.two_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bg);
}
.two_text p{
    width: 60%;
    line-height: 1.3;
}
.title{
    text-align: center;
    color: var(--bg);
}
.desc{
    text-align: center;
    color: var(--bg);
    width: 35%;
    margin: auto;
}

.container{
    width: 90%;
    margin: 50px auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    margin: 50px;
    color: var(--bg);
    text-align: center;
    line-height: 1.5;
}
.circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--bg);
    margin: 10px auto;
}

.super{
    display: flex;
    justify-content: center;
}
.buyer{
    display: flex;
}
.climbing{
    width: 50%;
    margin: 32px;
}
.climbing img{
    width: 100%;
}
.climbing h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #575445;
}
.biking{
    width: 50%;
    margin: 32px;
}
.biking img{
    width: 100%;
}
.biking{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    /* or 120% */
    color: #575445;
}